* {
  font-family: "Archivo", sans-serif;
}

html {
  height: -webkit-fill-available;
}

body {
  width: 100%;

  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  position: relative;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;

  margin: 0.5rem 0;
}

#map {
  flex: 1;

  /* width: 100%;
  height: 100%; */
}

#map .mapboxgl-user-location-accuracy-circle {
  pointer-events: none;
}

#map .mapboxgl-marker {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  flex-wrap: wrap;

  gap: 0.7rem;

  padding: 1rem;
}

@media screen and (min-width: 800px) {
  footer {
    flex-direction: column;

    align-items: flex-start;

    position: absolute;
    top: 1rem;
    left: 1rem;

    background-color: #fff;
  }
}

footer>div {
  display: flex;
  align-items: center;

  font-weight: 600;
}

.sign {
  display: inline-block;

  width: 1rem;
  height: 1rem;

  margin-right: 4px;

  border-radius: 4px;
}

.sign.very-good {
  background: #9c27b0;
}

.sign.pretty-good {
  background: #0288d1;
}

.sign.good {
  background: #afb42b;
}

.sign.not-been-yet {
  background: #bebebe;
}

.hidden {
  display: none !important;
}

.images {
  display: flex;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  width: 100%;
  aspect-ratio: 1/1;
}

.images img {
  aspect-ratio: 1/1;
  object-fit: cover;

  scroll-snap-align: center;
}

.hours {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 0.75rem;
}

#installContainer {
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

#installContainer button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  padding: 0.75em;
}

.mapboxgl-popup-content {
  padding: 1rem !important;
}

.popup {
  width: 300px;
}

.popup h3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5rem;
  line-height: 110%;

  margin-top: 0.5rem;
}

.popup p {
  font-size: 1rem;
  line-height: 110%;
}

.popup a {
  font-size: 1rem;
  line-height: 110%;
}

.popup details {
  font-size: 1rem;
  line-height: 110%;

  margin-top: 0.5rem;
}

.hint {
  margin-top: 0.4rem;

  font-size: 0.5rem;
  opacity: 0.5;
}