{% extends "base.jinja.html" %}

{% block content %}

<form action="addPlace" method="post" enctype="multipart/form-data">
  <input name="name" type="text" placeholder="Name" />
  <input name="lat" type="text" placeholder="Latitude" />
  <input name="lon" type="text" placeholder="Longitude" />
  <input name="description" type="text" placeholder="Description" />
  <input name="rating" type="number" placeholder="Rating (1-5)" />
  <input type="submit" value="Go!" />
</form>

{% endblock content %}
